/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
composer.lock
.claude/
/claudedocs
.phpunit.cache/test-results
/.phpunit.cache
.phpunit.cache/test-results
